Exploration/libseeker_repo*
Exploration/easy/gcc*
Exploration/easy/clang*
Exploration/easy/.build_include/
Exploration/easy/libraries/*.a
Exploration/easy/libraries/**/*.o
Exploration/easy/libraries/**/*.disass.txt
/.vscode
/PalmTree
/cfg_json
/log_tesi_rizzi
FunctionMatching/log_tesi_rizzi
FunctionMatching/rizzi_thesis_code
FunctionMatching/thesis_code/output.txt
# Python cache files
__pycache__/
*.py[cod]

