Exploration/libseeker_repo*
/easy/gcc*
/easy/clang*
/.vscode
/PalmTree
/cfg_json
/log_tesi_rizzi
FunctionMatching/log_tesi_rizzi
FunctionMatching/rizzi_thesis_code

# Python cache files
__pycache__/
*.py[cod]
